<!-- About Section -->
<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading">Acerca del Encuentro</h2>
                    <h3 class="section-subheading text-muted"></h3>
                    <p style="text-align: justify;"><big><strong>
                    Desde su primera edición, en 2006, el <u>Encuentro Nacional de Usuarios en Sistemas de Información Geográfica y Teledetección</u> se ha constituido en un foro para la divulgación de investigaciones y aplicaciones relacionadas con el campo de las Ciencias de la Información Geográfica (CIG), así como para promover el uso de los estándares en datos geoespaciales desarrollados por el Instituto Geográfico Nacional (IGN) y los principales organismos internacionales rectores en esta materia. Además, el Encuentro busca facilitar el desarrollo de mecanismos para compartir datos, software y otros recursos a nivel nacional y así propiciar la colaboración y el intercambio de conocimiento entre las instituciones y empresas involucradas en la generación, publicación y uso de la información geográfica en Costa Rica.
                    <strong></big></p>                    
                </div>
                <br><br>                
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <ul class="timeline">
                        {% for about_data in site.data.twenty_18.home_about_data %}
                            <li class="{{ about_data.inverted }}">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="../css/2018_style/img/{{ about_data.img }}" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <p><br></p>
                                    </div>
                                    <div class="timeline-heading">
                                        <a href="{{ about_data.link }}" class="btn btn-sm btn-light">{{ about_data.name }}</a>
                                    </div>                                    
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
