<!-- Register Section -->
    <section id="register" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Normas de Presentación de Ponencias</h2>
                </div>
            </div>
            <div class="row container">
                <p style="text-align: justify;"><big>Los resúmenes deben enviarse en español, con una extensión no mayor de 15 líneas y con un máximo de 5 palabras claves.</big></p>
                <p style="text-align: justify;"><big>El texto debe estar en formato Word, escrito con letra Times New Roman 12, a espacio y medio, con 2,5 cm en los márgenes superior e inferior y 3 cm en los márgenes derecho e izquierdo, en hoja tamaño carta.</big></p>
                <p style="text-align: justify;"><big>El título debe ser breve, claro y corresponder con el contenido. Debe estar en letras mayúsculas, centrado y en negrita.</big></p>
                <p style="text-align: justify;"><big>El nombre y los apellidos del autor o los autores deben estar justificados hacia la derecha.</big></p>                                                
                <p style="text-align: justify;"><big>La institución de trabajo, la dirección electrónica y el número de teléfono deben ir en una nota al pie de página y con letra Times New Roman 10.</big></p>                                                
            </div>
        </div>
    </section>
