<!-- Clients Aside -->
    
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading">Organizan</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-5">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/una.png" class="img-responsive img-centered" alt="" width="300">
                    </a>
                </div>
                <div class="col-md-4 col-sm-5">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/tse.jpg" class="img-responsive img-centered" alt="" width="400">
                    </a>
                </div>
                <div class="col-md-4 col-sm-5">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/registro_nacional.png" class="img-responsive img-centered" alt="" width="275">
                    </a>
                </div>                                                 
            </div>                         
            <div class="row">          
                <div class="col-md-4 col-sm-5">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/INBiologo-neg.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>                                
                <div class="col-md-4 col-sm-5">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/cenat.png" class="img-responsive img-centered" alt="" width="275">
                    </a>
                </div>  
                <div class="col-md-4 col-sm-5">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/ice.png" class="img-responsive img-centered" alt="" width="200">
                    </a>
                </div>  
            </div>
            <div class="row">          
                <div class="col-md-4 col-sm-5">
                </div>
                <div class="col-md-4 col-sm-5">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/inec.png" class="img-responsive img-centered" alt="" width="200">
                    </a>
                </div>  
                <div class="col-md-4 col-sm-5">
                </div>                
            </div>
        </div>
    </aside>
