<!-- Register Section -->
    <section id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading">Inscripción</h2>
                </div>
            </div>
            <div class="row container">
                <h2>Costo</h2>
                <h3>Profesionales: ¢15.000</h3>
                <h3>Estudiantes de pregrado: ¢10.000</h3>
                
                <p><big>
                El monto correspondiente debe depositarse en el Banco Nacional de Costa Rica:<br>
                * <strong>Cuenta corriente 100-01-004-010272-9</strong><br>
                * <strong>Cuenta cliente 15100410010102725</strong> (para transferencias Sinpe)<br><br>
                
                En el detalle del comprobante debe indicarse: "Proyecto: 056010-0700 inscripción encuentro, (seguido del nombre de la persona que participa del evento)".<br><br>
                Luego de realizarse el depósito, debe completarse el <a href="https://goo.gl/forms/iAdv5TiVEpoigNzC2">formulario de inscripción</a>. La fecha límite de inscripción es el 19 de octubre.<br><br>
                
                Para consultas, por favor escriba a <a href="mailto:prosigte@una.ac.cr">prosigte@una.ac.cr</a> o llame al teléfono 2277-3288.
                </big></p>

            </div>
        </div>
    </section>
