<!-- Clients Aside -->
    
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="section-heading">Patrocinadores</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/addax.png" class="img-responsive img-centered" alt="" height="400px">
                    </a>
                </div>
                <div class="col-md-5 col-sm-5">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/geoinn.png" class="img-responsive img-centered" alt="" height="400px">
                    </a>
                </div>
            </div>                
            <div class="row">                
                <div class="col-md-5 col-sm-5">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/geotecnologias.png" class="img-responsive img-centered" alt="" width="450px">
                    </a>
                </div>
                <div class="col-md-5 col-sm-5">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/ice.png" class="img-responsive img-centered" alt="" width="350px">
                    </a>
                </div>                
            </div>
        </div>
    </aside>
