<!DOCTYPE html>
<html>

  {% include 2018_data/head.html %}


    <body id="page-top" class="index">

    {% include 2018_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">V Encuentro Nacional<br>de Usuarios en<br>Sistemas de<br>Información Geográfica<br>y Teledetección</div>
                <div class="intro-lead-in">Jueves 8 y viernes 9 de noviembre de 2018</div>
                <div class="intro-lead-in">Auditorio del Tribunal Supremo de Elecciones<br>San José, Costa Rica</div>
                <div style="text-align:center !important;">
                    <a href="#register" class="page-scroll btn btn-xl">Inscripción</a>
                </div>     
            </div>
        </div>
    </header>

    {% include 2018_data/about.html %}


    </body>
</html>
